.para{
    background-color: blue;
    color: white;
    width: auto;
    height: auto;
    margin: auto;
    padding: 50px;
    font-size: 20px;
}

#parai{
    background-color: rgb(20, 88, 88);
    color: rgb(5, 4, 2);
    width: auto;
    height: auto;
}
.blog_container{
    background-color: rgb(10, 65, 87);
    color: aliceblue;
    width: auto;
    height: auto;
    padding: 20px;
    margin:20px;
    border: 10px solid;
    border-radius: 50px;
    
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 100;
}
 small{
    text-align: center;
}